body {
  font-family: Arial, sans-serif;
}
#tartag {
  padding: 5px;
}
.title {
  font-size: 45px;
}
#new-tag {
  margin-bottom: 3px;
}
#tag-list {
  list-style: none;
  line-height: 25px;
  min-width: 420px;
  margin: 0 auto;
}
.tag {
  float: left;
  width: 420px !important;
}
.panel {
  background-color: #3d3d3d;
  color: white;
  cursor: move;
}
.clickable {
  cursor: pointer;
}
.smaller {
  font-size: 85%;
}
.less-visible {
  color: #3d3d3d;
}
.statuses-list {
  line-height: 1.5em;
  height: 400px;
  overflow: auto;
  border-bottom: 1px solid #d0d0d0;
}
.status {
  line-height: 1.5em;
}
.status .status-body {
  padding-left: 15px;
  border-bottom: 1px solid #b3b3b3;
  clear: both;
  min-height: 66px;
}
.status .avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 6px;
  border: 1px solid #3d3d3d;
}
.statuses-list li:nth-child(odd) {
  background: white;
}
.statuses-list li:nth-child(even) {
  background: #f0f0f0;
}
.highlight {
  background-color: #fffac2 !important;
}
